{% extends "base.html" %}
{% block body %}

<h2>Register</h2>

<form id="registerForm"
      action="{{ url_for('register') }}"
      method="post"
      onsubmit="return validCredentials()">

  <input type="text"
         name="username"
         id="username"
         placeholder="username"
         required>

  <input type="password"
         name="password"
         id="password"
         placeholder="password"
         required>

  <input type="submit" value="Register">

</form>

<div class="error" id="validationDiv"></div>

<script>
function validCredentials() {

  var passwordRegex =
    /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;

  var usernameRegex =
    /^[A-Za-z]{3}[A-Za-z0-9._]*[0-9]*$/;

  var username = document.getElementById("username").value;
  var password = document.getElementById("password").value;
  var validationDiv = document.getElementById("validationDiv");

  if (!usernameRegex.test(username)) {
    validationDiv.innerText =
      "Username must start with at least 3 letters";
    return false;
  }

  if (!passwordRegex.test(password)) {
    validationDiv.innerText =
      "Password must contain upper, lower, number & special char";
    return false;
  }

  return true;
}
</script>

{% endblock body %}
