{% extends 'base.html' %}
{% block body %}
<h1>Welcome studentDashboard.html</h1>
<div>
    <h2>Available Quizzes</h2>

    <ul>
        {% for quiz in quizzes %}
        <li>
            <strong>{{ quiz.title }}</strong>

            {% if quiz.id in attempted_quiz_ids %}
            <!-- student already attempted -->
            <a href="{{ url_for('viewResult', quiz_id=quiz.id) }}">
                View Result
            </a>
            {% else %}
            <!-- student has NOT attempted -->
            <a href="{{ url_for('attemptQuiz', quiz_id=quiz.id) }}">
                Attempt Quiz
            </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <a href="{{url_for('logout')}}">Logout</a>

</div>
{% endblock %}