{% extends 'base.html' %}
{% block body %}
<h1>Welcome teacherDashboard.html</h1>
<div>
    <a  href="{{url_for('makeQuiz')}}" type="button" id="makequiz" class="btn btn-primary">Make a Quiz</a>

    <a href="{{ url_for('gradeQuiz') }}"
       type="button"
       id="gradesubmission"
       class="btn btn-success">
       Grade a Quiz
    </a>

    <a href="{{ url_for('studentHistory') }}"
       type="button"
       id="studentHistory"
       class="btn btn-success">
       Search a Student
    </a>


    <a href="{{ url_for('viewStudents') }}"
       type="button"
       id="studentList"
       class="btn btn-success">
       View All Students
    </a>


    <br>
    <br>
    <a href="{{url_for('logout')}}">Logout</a>
</div>
{% endblock %}